<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.75" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.75" rpy="0 0 0"/>
            <geometry>
                <box size="0.9309985085176203 0.5465533306427903 0.9928596156806525" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.75" rpy="0 0 0"/>
            <geometry>
                <box size="0.9309985085176203 0.5465533306427903 0.9928596156806525" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="-0.39372922954734824 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.39372922954734824 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7874584590946965 0.8238382506817061 0.5777409662086498" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.39372922954734824 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7874584590946965 0.8238382506817061 0.5777409662086498" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.4745527849002331 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4745527849002331 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4030260058014541 0.9491055698004662 0.8677489733987449" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4745527849002331 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4030260058014541 0.9491055698004662 0.8677489733987449" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 0.21643091803513143" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.21643091803513143" rpy="0 0 0"/>
            <geometry>
                <box size="0.33404366157731813 0.26768223287160675 0.43286183607026285" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.21643091803513143" rpy="0 0 0"/>
            <geometry>
                <box size="0.33404366157731813 0.26768223287160675 0.43286183607026285" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0 0.06864019752285083" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.06864019752285083" rpy="0 0 0"/>
            <geometry>
                <box size="0.09810955644780206 0.5376204344384512 0.13728039504570166" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.06864019752285083" rpy="0 0 0"/>
            <geometry>
                <box size="0.09810955644780206 0.5376204344384512 0.13728039504570166" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.46549925425881017 -0.22301933122065132 1.4662833555409522" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.4543712839940566 -0.27327666532139516 1.3106399016154118" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link3" type="revolute">
       <parent link="Link1"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.14537496150679108 -0.17664186034549065 0.2888704831043249" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link2_Link4" type="revolute">
       <parent link="Link2"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.13573208095884953 -0.4197278223150867 0.43387448669937245" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>