<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.713243428625463 0.9571613510709407 0.8767311952348851" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.713243428625463 0.9571613510709407 0.8767311952348851" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.3566217143127315 -0.021703556860140708 1.5947866436668403" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.006715743152625706 -0.08633526340431293 1.0616344023825575" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 -0.4638270747796333" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4638270747796333" rpy="0 0 0"/>
            <geometry>
                <box size="0.7306750222286211 0.56179827894657 0.9276541495592666" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4638270747796333" rpy="0 0 0"/>
            <geometry>
                <box size="0.7306750222286211 0.56179827894657 0.9276541495592666" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.12694947806226042 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.12694947806226042 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25389895612452085 0.762860807072871 0.1804877671259555" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.12694947806226042 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25389895612452085 0.762860807072871 0.1804877671259555" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.25389895612452085 -0.24151594628650894 0.08774072435464292" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.06485635368060655 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.06485635368060655 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1297127073612131 0.4280727700261172 0.13283987208570558" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.06485635368060655 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1297127073612131 0.4280727700261172 0.13283987208570558" />
            </geometry>
        </collision>
    </link>
</robot>