<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.743675905431432 0.5455728842737569 0.6577660070066136" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.743675905431432 0.5455728842737569 0.6577660070066136" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="0.1383854834231839 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1383854834231839 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2767709668463678 0.8038717610756981 0.9441194756149843" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1383854834231839 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2767709668463678 0.8038717610756981 0.9441194756149843" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="0 -0.2878689526711978 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2878689526711978 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.42478067807515685 0.5757379053423956 0.5835809465964342" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2878689526711978 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.42478067807515685 0.5757379053423956 0.5835809465964342" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 0.23237134035233614" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.23237134035233614" rpy="0 0 0"/>
            <geometry>
                <box size="0.6825925280330536 0.31138235753272425 0.4647426807046723" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.23237134035233614" rpy="0 0 0"/>
            <geometry>
                <box size="0.6825925280330536 0.31138235753272425 0.4647426807046723" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0 -0.44767617578278174" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.44767617578278174" rpy="0 0 0"/>
            <geometry>
                <box size="0.13672902850620805 0.2512110451254075 0.8953523515655635" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.44767617578278174" rpy="0 0 0"/>
            <geometry>
                <box size="0.13672902850620805 0.2512110451254075 0.8953523515655635" />
            </geometry>
        </collision>
    </link>
    <link name="Link5">
        <inertial>
            <origin xyz="0.02453082911955662 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.02453082911955662 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.04906165823911324 0.32983620235002464 0.7990964886002692" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.02453082911955662 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.04906165823911324 0.32983620235002464 0.7990964886002692" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.371837952715716 0.19199939692268564 2.253646522190759" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link3" type="revolute">
       <parent link="Link0"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.0914035674921069 -0.16120151478804168 2.328883003503307" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.22947906513209876 -0.40193588053784907 0.4666431352959404" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link4" type="revolute">
       <parent link="Link1"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.19457658911591927 -0.22486640952322634 -0.47205973780749216" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link3_Link5" type="revolute">
       <parent link="Link3"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.34129626401652674 -0.12308167227231226 0.4469282517822545" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>