<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 1.75" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.75" rpy="0 0 0"/>
            <geometry>
                <box size="0.878536520434474 0.9739404586516268 0.8566904360140539" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.75" rpy="0 0 0"/>
            <geometry>
                <box size="0.878536520434474 0.9739404586516268 0.8566904360140539" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 -0.42511197126773886" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.42511197126773886" rpy="0 0 0"/>
            <geometry>
                <box size="0.6440298663599375 0.9128566919797001 0.8502239425354777" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.42511197126773886" rpy="0 0 0"/>
            <geometry>
                <box size="0.6440298663599375 0.9128566919797001 0.8502239425354777" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.45816464914199617 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.45816464914199617 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9163292982839923 0.789253001049905 0.4184296445680228" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.45816464914199617 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9163292982839923 0.789253001049905 0.4184296445680228" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.01437147669842076 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.01437147669842076 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8639642933475452 0.02874295339684152 0.7026892082152926" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.01437147669842076 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8639642933475452 0.02874295339684152 0.7026892082152926" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0 0.4413511117065413" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.4413511117065413" rpy="0 0 0"/>
            <geometry>
                <box size="0.553615550492847 0.012463941477708684 0.8827022234130826" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.4413511117065413" rpy="0 0 0"/>
            <geometry>
                <box size="0.553615550492847 0.012463941477708684 0.8827022234130826" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link4" type="revolute">
       <parent link="Link0"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.01911784926092957 0.10177732401552916 2.178345218007027" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0.4073810527099621 0.24473678006777647 1.3216547819929731" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.3220149331799687 0.26905131317283615 -0.0547314490810647" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link3" type="revolute">
       <parent link="Link1"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.28819777005951924 0.45642834598985005 -0.4052604756536011" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>