<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.44703304879814343 0.758770940221593 0.9452960144215561" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.44703304879814343 0.758770940221593 0.9452960144215561" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="-0.48690278621673944 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.48690278621673944 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9738055724334789 0.6053847347740049 0.5425172787407109" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.48690278621673944 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9738055724334789 0.6053847347740049 0.5425172787407109" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.3456135013543271 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3456135013543271 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6912270027086542 0.61683523026352 0.7454205791955089" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3456135013543271 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6912270027086542 0.61683523026352 0.7454205791955089" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 -0.12364148062152214" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.12364148062152214" rpy="0 0 0"/>
            <geometry>
                <box size="0.5599546341581148 0.9369554703435636 0.24728296124304427" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.12364148062152214" rpy="0 0 0"/>
            <geometry>
                <box size="0.5599546341581148 0.9369554703435636 0.24728296124304427" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0 0.389655576514345" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.389655576514345" rpy="0 0 0"/>
            <geometry>
                <box size="0.09999222288374454 0.37254297348207177 0.77931115302869" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.389655576514345" rpy="0 0 0"/>
            <geometry>
                <box size="0.09999222288374454 0.37254297348207177 0.77931115302869" />
            </geometry>
        </collision>
    </link>
    <link name="Link5">
        <inertial>
            <origin xyz="0.01694194669279503 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.01694194669279503 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.03388389338559006 0.45989965171070246 0.2713287786524834" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.01694194669279503 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.03388389338559006 0.45989965171070246 0.2713287786524834" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.22351652439907171 -0.14771540482849954 1.8280843566785725" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.9738055724334789 0.10499799116302677 0.1655386602028787" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link3" type="revolute">
       <parent link="Link1"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.4809987473905715 -0.054683321647765265 -0.27125863937035544" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link2_Link4" type="revolute">
       <parent link="Link2"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.6541548727266986 0.21300510911165213 0.37271028959775443" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link3_Link5" type="revolute">
       <parent link="Link3"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.2799773170790574 0.15273289718736993 -0.09535609217197488" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>