<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 3.75" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3.75" rpy="0 0 0"/>
            <geometry>
                <box size="0.513918201132491 0.804461068676095 0.6087602157927446" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3.75" rpy="0 0 0"/>
            <geometry>
                <box size="0.513918201132491 0.804461068676095 0.6087602157927446" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.2569591005662455 -0.20647332497650409 3.9129713981341068" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.18527153022855597 0.35180555302038474 4.054380107896372" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link3" type="revolute">
       <parent link="Link0"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.22916610113682806 -0.24722220052477203 3.4456198921036276" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 0.2457035720905178" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.2457035720905178" rpy="0 0 0"/>
            <geometry>
                <box size="0.5868787774839678 0.6682738752118553 0.4914071441810356" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.2457035720905178" rpy="0 0 0"/>
            <geometry>
                <box size="0.5868787774839678 0.6682738752118553 0.4914071441810356" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link4" type="revolute">
       <parent link="Link1"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.20565415644375656 -0.0834780265395291 0.4914071441810356" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.19543447769704764 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.19543447769704764 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3908689553940953 0.9649207936634681 0.47383653644510015" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.19543447769704764 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3908689553940953 0.9649207936634681 0.47383653644510015" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 -0.43824814300254794" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.43824814300254794" rpy="0 0 0"/>
            <geometry>
                <box size="0.24027184192394524 0.8086620332366139 0.8764962860050959" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.43824814300254794" rpy="0 0 0"/>
            <geometry>
                <box size="0.24027184192394524 0.8086620332366139 0.8764962860050959" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0 0.07701555615272099" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.07701555615272099" rpy="0 0 0"/>
            <geometry>
                <box size="0.936613233125072 0.8307963212903162 0.15403111230544198" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.07701555615272099" rpy="0 0 0"/>
            <geometry>
                <box size="0.936613233125072 0.8307963212903162 0.15403111230544198" />
            </geometry>
        </collision>
    </link>
</robot>