<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7211999626695692 0.8318751977947609 0.7328406472532534" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7211999626695692 0.8318751977947609 0.7328406472532534" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 -0.33643706474331553" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.33643706474331553" rpy="0 0 0"/>
            <geometry>
                <box size="0.5411736117589383 0.9343119754253134 0.6728741294866311" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.33643706474331553" rpy="0 0 0"/>
            <geometry>
                <box size="0.5411736117589383 0.9343119754253134 0.6728741294866311" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.42656711883866866 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.42656711883866866 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8531342376773373 0.1163398212815141 0.9106341225277376" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.42656711883866866 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8531342376773373 0.1163398212815141 0.9106341225277376" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 0.13540885810696002" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.13540885810696002" rpy="0 0 0"/>
            <geometry>
                <box size="0.7194224295768648 0.37735679956308443 0.27081771621392003" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.13540885810696002" rpy="0 0 0"/>
            <geometry>
                <box size="0.7194224295768648 0.37735679956308443 0.27081771621392003" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0 0.2273340573471581" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.2273340573471581" rpy="0 0 0"/>
            <geometry>
                <box size="0.36868552345227346 0.42555115963015744 0.4546681146943162" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.2273340573471581" rpy="0 0 0"/>
            <geometry>
                <box size="0.36868552345227346 0.42555115963015744 0.4546681146943162" />
            </geometry>
        </collision>
    </link>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.04914953036651465 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.04914953036651465 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.0982990607330293 0.6640529429608764 0.9109800120754377" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.04914953036651465 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.0982990607330293 0.6640529429608764 0.9109800120754377" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link2" type="revolute">
       <parent link="Link0"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-0.3605999813347846 0.277767328893519 2.2245861793475084" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link3" type="revolute">
       <parent link="Link0"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.0446748220689715 0.3159492228261584 2.3664203236266266" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.34382766274381693 -0.1001854727563652 1.6335796763733734" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link2_Link5" type="revolute">
       <parent link="Link2"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-0.8531342376773373 0.04652482243416274 0.43263254392966694" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link2_Link4" type="revolute">
       <parent link="Link2"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.8204678319122212 -0.0513091522513317 0.45531706126386884" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>